<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div id="tmvvm"></div>
  </body>
</html>